@model ConsumptionSite.Models.TariffViewModel

@{
	ViewBag.Title = "Create";
}

<h2>Create</h2>
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>Tariff</h4>
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })

		<div class="form-group">
			@Html.LabelFor(model => model.Since, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Since, new { htmlAttributes = new { @class = "date-input", Title = "A date the tariff is applicable since", data_datepicker = true } })
				@Html.ValidationMessageFor(model => model.Since, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Until, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Until, new { htmlAttributes = new { @class = "date-input", Title = "A date the tariff expires", data_datepicker = true } })
				@Html.ValidationMessageFor(model => model.Until, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Kind, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EnumDropDownListFor(model => model.Kind, htmlAttributes: new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Kind, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.ConsumptionRanges, htmlAttributes: new { @class = "center-block col-md-2" })
			<div class="col-md-10">
				@Html.ListBoxFor(model => model.ConsumptionRanges, Model.ConsumptionRanges.Select(cr => new SelectListItem { Text = cr, Value=cr }))
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Create" class="btn btn-default btn-primary" />
			</div>
		</div>
	</div>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")

	<script type="text/javascript">
		$(function () {
			$('#datetimepicker1').datetimepicker();
		});
	</script>
}
